<h2 mat-dialog-title>Editar estado</h2>
<div mat-dialog-content class="mat-typography">
    <mat-form-field appearance="fill">
        <mat-label>Estado</mat-label>
        <mat-select [(value)]="selectedValue">
            <mat-option [value]="option.value" *ngFor="let option of status">{{ option.viewValue }}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-flat-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>Aceptar</button>
</mat-dialog-actions>
