<mat-card class="card-border" style="text-align: center;">
    <div class="circular--landscape">
        <img [src] = "agencyData.photo" />
    </div>
    <div style="text-align: start;">
        <h2 class="no-margin"><b>{{ agencyData.name }}</b></h2>
        <p>{{ agencyData.email }}</p>
        <div *ngIf="!isEditMode">
            <p><i> {{ agencyData.description }} </i></p>
            <p class="no-margin"><b>Ubicación:</b></p>
            <p><i> {{ agencyData.location }} </i></p>
            <p class="no-margin"><b>RUC:</b></p>
            <p><i> {{ agencyData.ruc }} </i></p>
            <p class="no-margin"><b>Teléfono:</b></p>
            <p><i> {{ agencyData.phoneNumber }} </i></p>
        </div>
    </div>
    <button *ngIf="!isEditMode" mat-flat-button class="button-personalization" (click)="editMode()">Editar información</button>

    <!--Editar información-->
    <form (submit)="onSubmit()" class="form-style" *ngIf="isEditMode" [formGroup]="agencyInformationForm">
        <p style="margin-bottom: 5px;"><b>Descripción:</b></p>
        <textarea class="textarea-style" rows="5" maxlength="150"
                  placeholder="Ingresa una descripción..."
                  name="description" formControlName="description">
        </textarea>
        <p style="margin-bottom: 5px;"><b>Ubicación:</b></p>
        <textarea class="textarea-style" rows="4" maxlength="150"
                  placeholder="Ingresa tu dirección..." name="address" formControlName="location">
        </textarea>
        <p style="margin-bottom: 5px;"><b>RUC:</b></p>
        <input type="text" (keypress)="OnlyNumbersAllowed($event)" maxlength="8" formControlName="ruc">
        <p style="margin-bottom: 5px;"><b>Teléfono:</b></p>
        <input type="text" (keypress)="OnlyNumbersAllowed($event)" maxlength="9" formControlName="phoneNumber">

        <button mat-flat-button class="button-personalization-back" (click)="cancelEdit()">Volver</button>
        <button mat-flat-button class="button-personalization" type="submit">Actualizar</button>

    </form>
</mat-card>
