.circular--landscape {
    display: inline-block;
    position: relative;
    width: 140px;
    height: 140px;
    overflow: hidden;
    border-radius: 50%;
}

.circular--landscape img {
    width: auto;
    height: 100%;
}

h2 {
    font-size: 16px;
}

p {
    font-size: 12px;
    line-height: 14px;
}

.no-margin {
    margin: 0;
}

.button-personalization {
    margin-top: 20px;
    background-color: #9CD4E7;
    border-radius: 15px;
    font-size: 12px;
}
