.circular--landscape {
    display: inline-block;
    position: relative;
    width: 140px;
    height: 140px;
    overflow: hidden;
    border-radius: 50%;
}

.card-border {
    border-radius: 10px;
}

.circular--landscape img {
    width: auto;
    height: 100%;
}

h2 {
    font-size: 16px;
}

p {
    font-size: 12px;
    line-height: 14px;
}

.no-margin {
    margin: 0;
}

.button-personalization {
    margin-top: 10px;
    background-color: #9CD4E7;
    border-radius: 15px;
    font-size: 12px;
    width: 100%;
}

.button-personalization-back {
    margin-top: 5px;
    background-color: #ffffff;
    border-radius: 15px;
    font-size: 12px;
    border: 1px #e3e3e3 solid;
    width: 100%;
}

textarea {
    border: 1px #e3e3e3 solid;
    border-radius: 6px;
    margin-bottom: 5px;
    resize: none;
    font-size: 12px;
    overflow: hidden;
    padding: 6px;
    box-sizing: content-box;
    max-width: 125px;
}

input {
    border: 1px #e3e3e3 solid;
    border-radius: 6px;
    margin-bottom: 10px;
    font-size: 12px;
    padding: 6px;
    max-width: 125px;
}

.file {
    margin: 8px 0 15px 0;
}

.file input {
    display: none;
}

.file label {
    font-size: 12px;
    font-weight: 500;
    padding: 8px 35px;
    background-color: #9CD4E7;
    border-radius: 15px;
    cursor: pointer;
}

.form-style {
    text-align: start;
}

@media only screen and (max-width: 875px) {
    input {
        width: 95%;
        max-width: 100%;
    }
    textarea {
        width: 95%;
        max-width: 100%;
    }
}
