<h2>Filtros</h2>
<!--Precios-->
<div>
    <p>Precio</p>
    <div class="cost-text">
        <input type="number" placeholder="Precio min" [(ngModel)]="lowestPrice" />
        <input type="number" placeholder="Precio max" [(ngModel)]="highestPrice" />
    </div>
    <div class="score-filters">
        <div class="agency-score">
            <p>Puntuación de la agencia</p>
            <a class="flex" (click)="changeAgencyStars(5)">
                <div><mat-icon class="icon" *ngFor="let i of calc(5, 0);">star</mat-icon></div>
                <span>o más</span>
            </a>
            <a class="flex" (click)="changeAgencyStars(4)">
                <div>
                    <mat-icon class="icon" *ngFor="let i of calc(4, 0);">star</mat-icon>
                    <mat-icon class="icon" *ngFor="let i of calc(4, 1);">star_border</mat-icon>
                </div>
                <span>o más</span>
            </a>
            <a class="flex" (click)="changeAgencyStars(3)">
                <div>
                    <mat-icon class="icon" *ngFor="let i of calc(3, 0);">star</mat-icon>
                    <mat-icon class="icon" *ngFor="let i of calc(3, 1);">star_border</mat-icon>
                </div>
                <span>o más</span>
            </a>
            <a class="flex" (click)="changeAgencyStars(2)">
                <div>
                    <mat-icon class="icon" *ngFor="let i of calc(2, 0);">star</mat-icon>
                    <mat-icon class="icon" *ngFor="let i of calc(2, 1);">star_border</mat-icon>
                </div>
                <span>o más</span>
            </a>
            <a class="flex" (click)="changeAgencyStars(1)">
                <div>
                    <mat-icon class="icon" *ngFor="let i of calc(1, 0);">star</mat-icon>
                    <mat-icon class="icon" *ngFor="let i of calc(1, 1);">star_border</mat-icon>
                </div>
                <span>o más</span>
            </a>
        </div>
        <div class="service-score">
            <p>Puntuación del servicio</p>
            <a class="flex" (click)="changeServiceStars(5)">
                <div><mat-icon class="icon" *ngFor="let i of calc(5, 0);">star</mat-icon></div>
                <span>o más</span>
            </a>
            <a class="flex" (click)="changeServiceStars(4)">
                <div>
                    <mat-icon class="icon" *ngFor="let i of calc(4, 0);">star</mat-icon>
                    <mat-icon class="icon" *ngFor="let i of calc(4, 1);">star_border</mat-icon>
                </div>
                <span>o más</span>
            </a>
            <a class="flex" (click)="changeServiceStars(3)">
                <div>
                    <mat-icon class="icon" *ngFor="let i of calc(3, 0);">star</mat-icon>
                    <mat-icon class="icon" *ngFor="let i of calc(3, 1);">star_border</mat-icon>
                </div>
                <span>o más</span>
            </a>
            <a class="flex" (click)="changeServiceStars(2)">
                <div>
                    <mat-icon class="icon" *ngFor="let i of calc(2, 0);">star</mat-icon>
                    <mat-icon class="icon" *ngFor="let i of calc(2, 1);">star_border</mat-icon>
                </div>
                <span>o más</span>
            </a>
            <a class="flex" (click)="changeServiceStars(1)">
                <div>
                    <mat-icon class="icon" *ngFor="let i of calc(1, 0);">star</mat-icon>
                    <mat-icon class="icon" *ngFor="let i of calc(1, 1);">star_border</mat-icon>
                </div>
                <span>o más</span>
            </a>
        </div>
    </div>
    <button mat-flat-button class="button-personalization" (click)="onSubmit()">Aplicar filtros</button>
</div>

