.container{
    height: 100%;
}
.container-flex{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.content{
    background-color: #EDEDED;
    display: flex;
}
.sidebar{
    height: 100vh;
    width: 470px;
    background-color: #EDEDED;
}
.mainPage{
    width: 100vw;
    margin-top: 70px;
    background-color: #EDEDED;
}
@media only screen and (min-width: 320px) and (max-width: 550px) {
    .content {
        display: flex;
    }
    .sidebar{
        display: none;
    }
}
