<mat-card class="top-card">
  <mat-card-header>
    <mat-card-title>{{data.name}}</mat-card-title>
    <mat-card-subtitle>{{data.location}}</mat-card-subtitle>
  </mat-card-header>
  <mat-grid-list cols="4" rowHeight="150px">
    <mat-grid-tile>
      <img [src]="data.photos">
    </mat-grid-tile>
  </mat-grid-list>
  <mat-card-header class="agency-info">
    <div mat-card-avatar class="profile-image"></div>
    <mat-card-title>Ofrecido por: {{agency.name}} </mat-card-title>
    <mat-card-subtitle>Agencia registrada desde {{agency.registeredAt}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{data.description}}</p>
  </mat-card-content>
</mat-card>
