<mat-card class="top-card">
  <mat-card-header>
    <mat-card-title>{{infoService.name}}</mat-card-title>
    <mat-card-subtitle>Lugar</mat-card-subtitle>
  </mat-card-header>
  <mat-grid-list cols="4" >
      <img class="profile-image" src="{{infoService.photos}}" alt="">
  </mat-grid-list>
  <mat-card-header class="agency-info">
    <!--<div mat-card-avatar class="profile-image"></div>-->
    <mat-card-title>Ofrecido por {{agencyInfo.name}} </mat-card-title>
    <mat-card-subtitle>Servicio registrado desde el {{infoService.creationDate}} </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
     {{infoService.description}}
    </p>
  </mat-card-content>
</mat-card>
