.top-card {
  margin: auto;
  border-radius: 2%;
  max-width: 90%;
  margin-bottom: 20px;
    margin-top: 15px;
}
.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.profile-image {
  background-image: url('https://picsum.photos/200/600');
}
.agency-info {
  margin-top: 20px;
  margin-bottom: 20px;
}
@media only screen and (min-width: 600px){
    .profile-image{
        height: 500px;
    }
}
@media only screen and (min-width: 320px) and (max-width: 550px) {
    .profile-image{
        height: 300px;
        width: 400px;
    }
}
