<mat-card class="reviews-card">
  <mat-card-header>
    <mat-card-title>Reseñas</mat-card-title>
  </mat-card-header>
    <div *ngFor = "let review of reviews">
        <mat-card-header class="agency-info" >
            <img mat-card-avatar class="image" src="{{review.tourist.photo}}" alt="">
            <mat-card-title>{{review.tourist.name}} {{review.tourist.lastName}} </mat-card-title>
            <mat-card-subtitle>Fecha: {{review.date}} </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <!--Service rate-->
            <mat-icon class="icon-service"
                      *ngFor="let i of calc(review.score, 0);">star</mat-icon>
            <mat-icon class="icon-service"
                      *ngFor="let i of calc(review.score, 1);">star_border</mat-icon>
            <p>
                {{review.comment}}
            </p>
        </mat-card-content>
    </div>
</mat-card>
