<mat-card class="reviews-card">
  <mat-card-header>
    <mat-card-title>Reseñas</mat-card-title>
  </mat-card-header>
  <mat-card-header class="agency-info">
    <img mat-card-avatar class="image" src="https://picsum.photos/200/{{300}}" alt="">
    <mat-card-title>Nombre completo </mat-card-title>
    <mat-card-subtitle>Fecha: </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur eius facere fugit nulla omnis qui.
    </p>
  </mat-card-content>
</mat-card>
