/** NAVBAR **/
.container{
    background-color: #9CD4E7;
    display: flex;
    justify-content: center;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1600px;
}
.img-icon{
    width: 142px;
    height: 60px;
}
.nav-main-info{
    display: flex;
    width: 400px;
    justify-content: space-around;
    align-items: center;
}
.container-options{
    background-color: white;
    width: 67px;
    height: 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 21px;
    position: relative;
    cursor: pointer;
}
.container-options-img{
    width: 28px;
    height: 28px;
    border-radius: 148.5px;
}
.input-search{
    width: 392px;
    height: 35px;
    border-radius: 21px;
    border: none;
}
.form-search{
    margin-right: 20px;
    position: relative;
}
.icon-search{
    position: absolute;
    top: 10px;
    right: 360px;
    color: grey;
}
.weight{
    font-weight: bold;
}
