<div class="container-general-services">
    <h1 class = "title">Editar servicio</h1>
    <h2 class="title">Datos generales</h2>
    <img src="{{infoService.photos}}" alt="" class = "img-service">
    <hr>
    <div class="container-content">
        <form action="">
            <p class = "black">Nombre del servicio</p>
            <input class = "input" placeholder="Nombre del servicio" name = "name" value ="{{infoService.name}}"  [(ngModel)] = "infoService.name"  >
            <p class = "black">Descripcion</p>
            <input class = "input" placeholder="Descripcion" name = "description" value = "{{infoService.description}}" [(ngModel)] = "infoService.description" >
            <p class = "black">Lugar</p>
            <input class = "input" name = "location"  placeholder="Lugar" value = "{{infoService.location}}" [(ngModel)] = "infoService.location">
            <p class = "black">Precio</p>
            <input class = "input" name = "price"   placeholder="Price" value = "{{infoService.price}}" [(ngModel)] = "infoService.price">
        </form>
        <button class = "btn mt-20" (click) = "updateServiceFunction()">Guardar cambios</button>
    </div>
</div>
