.container-general-services{
    background-color: #ffffff;
    margin-top: 10px;
    padding: 15px 30px;
    border-radius: 10px;
    background-color: white;
    width: 60%;
}
.container-content{
    margin-top: 40px;
}

.btn{
    background-color: #9CD4E7;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
}
.input{
    width: 100%;
    height: 40px;
    border-radius: 20px;
    padding-left: 10px;
    border: 3px solid #B6DDE9;
}
.input-top{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: 0px;
}
.input-bottom{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.black{
    color: black;
    font-weight: bold;
}
.mt-20{
    margin-top: 20px;
}
.text-password{
    width: 90%;
    text-align: center;
    border-bottom: 1px solid #C4C4C4;
    line-height: 0.1em;
    margin: 50px 20px 40px 0;
}
.text-password span{
    background:#fff;
    padding:0 10px;
}
.container-inputs{
    width: 548px;
    display: flex;
}
.input-bottom-extra{
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.input-bottom-extra-2{
    border-left: 0px;
    border-radius: 0px 0px 20px 0px;
}
.container-checkbox{
    display: flex;
    margin-top: 10px;
    flex-direction: column;
}
.checkbox-element{
    display: flex;
    align-items: center;
    margin-top: 5px;
}
.checkbox-element input{
    width: 20px;
    height: 20px;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
}
.checkbox-element label{
    font-size: 20px;
    margin-left: 15px;
    font-weight: bold;
}
.input-top-extra{
    border-top: 0px;
    border-radius: 0px;
}
.input-bottom-extra-3{
    border-radius: 0px;
}
.img-service{
    width: 300px;
}
