<div class="container-general-reviews">
    <h1 class = "title">Reseñas</h1>
    <div class="container-score">
        <p>Profesionalismo</p>
        <p>Calidad-Precio</p>
    </div>
    <div class="container-score">
        <p>Seguridad</p>
        <p>Costos</p>
    </div>
    <div class="container-commentary">
        <article *ngFor=" let element of listReviews">
            <div class="element-service">
                <img src="{{element.imgUrl}}" alt="" class = "img-card">
                <p class = "element-description-commentary">{{element.Name}}</p>
                <p class = "element-description">{{element.Date}}</p>
                <div class="container-prices">
                    <p class = "element-description">{{element.Text}}</p>
                </div>
            </div>
        </article>
    </div>

</div>
