<div class="container-general-reviews">
    <h1 class = "title">Reseñas</h1>
    <!--<div class="container-score">
        <p>Profesionalismo</p>
        <p>Calidad-Precio</p>
    </div>
    <div class="container-score">
        <p>Seguridad</p>
        <p>Costos</p>
    </div>-->
    <div class="container-commentary">
        <article *ngFor=" let element of listReviews">
            <div class="element-service">
                <div class="flex-content">
                    <img src="{{element.tourist.photo}}" alt="" class = "img-card">
                    <div class="info-review">
                        <p class = "element-description-commentary">{{element.tourist.name}}</p>
                        <p class = "element-description">{{element.date}}</p>
                    </div>
                </div>
                <div class="container-prices">
                    <p class = "element-description">{{element.comment}}</p>
                </div>
            </div>
        </article>
    </div>

</div>
