<div class="modal">
    <div class="container-login">
        <div class="container-login-title">
            <span class="close" id = "close" (click) = "clickClose()">&times;</span>
            <h3>Iniciar Sesión</h3>
        </div>
        <hr>
            <div class="container-login-content">
            <h3>Te damos la bienvenida a Go2Climb</h3>
            <form action="">
                <input class = "input input-top" type="email" placeholder="Correo electrónico">
                <input class = "input input-bottom" type="password" placeholder="Contraseña">
                <p class = "black">¿Has olvidado la contrasaseña?</p>
                <input class = "btn" type="submit" value = "Iniciar Sesión">
            </form>
            <p class = "text-password"><span>¿Aún no tienes una cuenta?</span></p>
            <button class = "btn">Registrate y disfruta tu aventura</button>
            <button class = "btn mt-20">Registrate y ofrece servicios turisticos</button>
        </div>
    </div>
</div>
