.container-general-services{
    margin-top: 10px;
    padding: 15px 30px;
    border-radius: 10px;
    background-color: white;
    width: 945px;
}
.container-services{
    /*display: flex;
    justify-content: space-between;
    width: 100%;*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.element-service{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.element-description{
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    width: 205px;
}
.img-card{
    width: 205px;
    height: 114px;
    border-radius: 20px;
    cursor: pointer;
}
.container-prices{
    display: flex;
}
.container-prices p:first-child{
    margin-right: 20px;
    text-decoration-line: line-through;
}
.container-prices p {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}
.title{
    font-size: 20px;
    font-weight: 700;
}
.container-starts{
    display: flex;
}
.buttons{
    display: flex;
    margin-bottom: 10px;
}
.btn {
    display: flex;
    border-radius: 10px;
    background-color: #9CD4E7;
}
.btn2 {
    display: flex;
    align-content: end;
    border-radius: 10px;
    background-color: #9CD4E7;
}
