<div class="container-general-services">
    <h1 class = "title">Servicios</h1>
    <div class="buttons">
        <button class="btn2" (click) = "goToAddService(idAgency)">Agregar Servicio</button>
    </div>
    <div class="container-services">
        <article *ngFor=" let element of listServices">
            <div class="element-service">
                <img src="{{element.photos}}" (click) = "goToService(element.id)" alt="" class = "img-card">
                <p class = "element-description">{{element.description}}</p>
            </div>
            <div class="content-buttons">
                <button class = "mr-10 btn-option update" (click) = "updateService(element.id)">Editar</button>
                <button class = "btn-option delete mr-10" (click) = "deleteService(element.id)">Eliminar</button>
                <button class = "btn-option clients" (click) = "getClients(element.id)">Clientes</button>
            </div>
        </article>
    </div>
</div>
