<div class="container-general-services">
    <h1 class = "title">Servicios</h1>
    <div class="buttons">
        <button class="btn2" (click) = "goToAddService(idAgency)">Agregar Servicio</button>
    </div>
    <div class="container-services">
        <article *ngFor=" let element of listServices">
            <div class="element-service">
                <img src="{{element.photos}}" (click) = "goToService(element.id)" alt="" class = "img-card">
                <p class = "element-description">{{element.description}}</p>
            </div>
        </article>
    </div>
</div>
