<div class="content">
    <mat-selection-list #shoes [multiple]="false">
        <div mat-subheader>Categorías</div>
        <div class="flex">
            <a href = "#offers" class="left-align" mat-flat-button mat-line>Ofertas del día</a>
            <a href = "#populars" class="left-align" mat-flat-button mat-line>Populares</a>
            <a href = "#for-you" class="left-align" mat-flat-button mat-line>Para ti</a>
        </div>
        <mat-divider></mat-divider>
    </mat-selection-list>
</div>
