<div class="content">
    <mat-selection-list #shoes [multiple]="false">
        <div mat-subheader>Categorías</div>
        <mat-list-item *ngFor="let categorie of categories">
            <button class="left-align" mat-flat-button mat-line>{{categorie.name}}</button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <div mat-subheader>Vuelos</div>
        <mat-list-item *ngFor="let flight of flights">
            <button class="left-align" mat-flat-button mat-line>{{flight.name}}</button>
        </mat-list-item>
    </mat-selection-list>
</div>
