<mat-dialog-content>
  <div class="container">

    <h2>Iniciar sesión</h2>
    <mat-divider></mat-divider>

    <h3>Te damos la bienvenida a Go2Climb</h3>

    <form class="form">
      <mat-form-field appearance="fill">
        <mat-label>Correo</mat-label>
        <input matInput placeholder="nombre@example.com" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input matInput placeholder="*********" [type]="hide ? 'password' : 'text'" required>
        <mat-error *ngIf="password.invalid">{{getErrorMessagePassword()}}</mat-error>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
      </mat-form-field>
    </form>

    <label class="link" (click)="openRecoverPass()">¿Has olvidado tu contraseña?</label>
  </div>

</mat-dialog-content>

<mat-dialog-actions align="center">
  <button mat-raised-button color="primary" mat-dialog-close="">Iniciar sesión</button>
</mat-dialog-actions>
