.container {
    margin: 10px 10%;
    display: flex;
    justify-content: center;
    column-gap: 20px;
}
.side {
    flex: 1 1 auto;
    align-self: flex-start;
    max-width: 176px;
}
.content {
    flex: 9 1 auto;
    align-self: flex-start;
    margin: 0px 5px 0px 0px;
    max-width: 82.5% !important;
}
.container-grid {
    margin: 10px 10%;
}
