.container {
    margin: 10px 10%;
    display: flex;
    justify-content: center;
    column-gap: 16px;
}
.side {
    flex: 1 1 auto;
    align-self: flex-start;
    max-width: 176px;
    margin-bottom: 10px;
}
.content-general {
    flex: 9 1 auto;
    align-self: flex-start;
    margin: 0px 5px 0px 0px;
    width: 80%;
}

mat-card {
    border-radius: 10px;
}
@media only screen and (max-width: 640px) {
    .container {
        margin: 10px 5%;
    }
}
@media only screen and (max-width: 875px) {
    .container {
        flex-direction: column;
    }
    .side {
        width: 100%;
        max-width: 100%;
    }
    .content-general {
        width: 100%;
        max-width: 100%;
    }
}
