<div class="container-general-offers mb-30">
    <h1 class = "ml-50">Para ti</h1>
    <div class="container-offers">
        <article *ngFor=" let element of listOffers">
            <div class="element-offer">
                <img src="{{element.imgUrl}}" alt="" class = "img-home">
                <p class = "element-description">{{element.description}}</p>
                <img src="./assets/img/starts.PNG" alt="">
                <div class="container-prices">
                    <p>${{element.price.toFixed(2)}}</p>
                </div>
            </div>
        </article>
    </div>
</div>
