<mat-dialog-content>
  <div class="container">

    <h2>Recuperar contraseña</h2>
    <mat-divider></mat-divider>

    <h3>Ingrese su nueva contraseña.</h3>

    <form>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input matInput placeholder="*********" [type]="hide ? 'password' : 'text'" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </form>

  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button (click)="passwordButtonForm()" mat-raised-button color="primary" mat-dialog-close="">Continuar</button>
</mat-dialog-actions>
