<div class="modal">
    <div class="container-login">
        <div class="container-login-title">
            <span class="close" id = "closeRegisterTourist" (click) = "clickClose()">&times;</span>
            <h3>Registrarse</h3>
        </div>
        <hr>
        <div class="container-login-content">
            <h3>Te damos la bienvenida a Go2Climb</h3>
            <form action="">
                <input class = "input input-top" type="email" placeholder="Correo electrónico">
                <input class = "input input-bottom" type="password" placeholder="Contraseña">
                <p class = "black">Información de la cuenta</p>
                <input class = "input input-top" type="email" placeholder="Nombre de Usuario">
                <div class="container-inputs">
                    <input class = "input input-bottom input-bottom-extra" type="password" placeholder="Numero de contacto">
                    <input type= "text" class = "input input-bottom-extra-2" placeholder="Pais">
                </div>
                <div class="container-checkbox">
                    <div class="checkbox-element">
                        <input type="checkbox">
                        <label for="">Declaro tener +18 años de edad</label>
                    </div>
                    <div class="checkbox-element">
                        <input type="checkbox">
                        <label for="">Acepto los términos y condiciones de Go2Climb</label>
                    </div>
                </div>
            </form>
            <button class = "btn mt-20">Finalizar</button>
        </div>
    </div>
</div>
