<div class="container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar class="toolbar bg-color">
    <div class="nav-main-info">
      <img src="../../../../assets/img/Icon.png" alt="Logo Go2Climb, dos montañas y la frase Go2Climb" class = "img-icon">
      <div class = "container-options">
        <img src="https://yt3.ggpht.com/ytc/AKedOLQMSrgxItPwy1gW4nke8tyEXNImWjwt3upFTg7g=s900-c-k-c0x00ffffff-no-rj" class = "container-options-img" alt="imagen de perfil">
        <app-menu></app-menu>
      </div>
    </div>
    <div class = "title">
      <h4>Inicio</h4>
    </div>
    <form class = "form-search">
      <input type="text" class = "input-search">
      <i class="fa-solid fa-magnifying-glass icon-search"></i>
    </form>
  </mat-toolbar>
</div>
