<div class="container-general-offers" id = "offers" >
    <h1 class = "title">Ofertas del día</h1>
    <div class="container-offers">
        <article *ngFor=" let element of listOffers">
            <div class="element-offer">
                <img src="{{element.photos}}" (click) = "goToService(element.id)" alt="" class = "img-card">
                <p class = "element-description">{{element.description}}</p>
                <div class="container-prices">
                    <p>${{element.price.toFixed(2)}}</p>
                    <p>${{element.newPrice.toFixed(2)}}</p>
                </div>
            </div>
        </article>
    </div>
</div>
