.container-general-offers{
  margin-top: 70px;
  padding: 15px 30px;
  border-radius: 10px;
  background-color: white;
  width: 945px;
}
.container-offers{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.element-offer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.element-description{
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  width: 205px;
  min-height: 60px;
}
.img-card{
  width: 205px;
  height: 114px;
  border-radius: 20px;
  margin-bottom: 15px;
}
.container-prices{
  display: flex;
}
.container-prices p:first-child{
  margin-right: 20px;
  text-decoration-line: line-through;
}
.container-prices p {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}
.title{
  font-size: 20px;
  font-weight: 700;
}
.container-starts{
  display: flex;
}

.no-border{
  webkit-box-shadow: none;
  box-shadow: none;
}
