<mat-dialog-content>
  <div class="container">

    <h2>Recuperar contraseña</h2>
    <mat-divider></mat-divider>

    <h3>Ingrese su correo para recibir el código de verificación.</h3>

    <form class="form">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Correo</mat-label>
        <input matInput placeholder="nombre@example.com" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
      </mat-form-field>
    </form>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button (click)="emailButtonForm()" mat-raised-button color="primary" mat-dialog-close="">Siguiente</button>
</mat-dialog-actions>
