<main class = "container">
    <h1>Servicios Contratados</h1>
    <section class = "container-table">
        <div class = "container-column">
            <p>Información del servicio</p>
        </div>
        <div class = "container-column">
            <p>Estado del servicio</p>
        </div>
        <div class = "container-column">
            <p>Acciones del servicio</p>
        </div>
    </section>
    <section class = "container-table-info" *ngIf = "servicesUser.length > 0; else noServices">
        <article class = "article-table" *ngFor = "let service of servicesUser">
            <div class = "article-table-data">
                <div class="article-table-data-info">
                    <p>Número del servicio: {{service.numberService}}</p>
                    <p>Hora y fecha de la solicitud: {{service.scheduleDate}}</p>
                </div>
                <div class="article-table-data-info">
                    <p>Agencia: {{service.infoAgency.name}}</p>
                </div>
                <div class="article-table-data-info">
                    <p>Importe total: </p>
                    <p class = "weight">$ {{service.price}}</p>
                </div>
            </div> <!-- Fin de article table data -->
            <div class = "article-table-data-extra">
                <div class = "article-table-data-extra-info flex">
                    <img src="{{service.infoService.photos}}" alt="" class = "img-service">
                    <p class = "ml-10">{{service.infoService.name}}</p>
                </div>
                <div class = "article-table-data-extra-info">
                    <p>{{service.status}}</p>
                </div>
                <div class = "article-table-data-extra-info">
                    <div *ngIf = "service.status == 'En proceso';else disabledButton">
                        <button class = "btn" (click) = "openReview(service.infoService.id, service.infoAgency.id, service)">Calificar Servicio</button>
                    </div>
                    <ng-template #disabledButton>
                        <button class = "btn-disabled" disabled>Calificar Servicio</button>
                    </ng-template>
                </div>
            </div>
            <app-service-review [service] = "service" [serviceId]="serviceId" [agencyId] = "agencyId" [customerId]="customerId" id = "review"></app-service-review>
        </article>
    </section>
    <ng-template #noServices>
        <div class="flex-center">
            <i class="fa-solid fa-box-open"></i>
        </div>
        <p class  = "noServices">Usted aún no cuenta con servicios contratados, descubre Go2climb y empieza el viaje de tu vida</p>
    </ng-template>
</main>
