<mat-dialog-content>
  <div class="container">

    <h2>Registrarse</h2>
    <mat-divider></mat-divider>

    <h3>Te damos la bienvenida a Go2Climb</h3>

    <form class="form">
      <table class="full-width"><tr>
        <td><mat-form-field appearance="fill">
          <mat-label>Correo</mat-label>
          <input matInput placeholder="nombre@example.com" [formControl]="email" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
        </mat-form-field></td>
        <td><mat-form-field appearance="fill">
          <mat-label>Contraseña</mat-label>
          <input matInput placeholder="*********" [type]="hide ? 'password' : 'text'" required>
          <mat-error *ngIf="password.invalid">{{getErrorMessagePassword()}}</mat-error>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field></td>
      </tr></table>
    </form>


    <h3>Información de la cuenta</h3>

    <form class="form">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Nombre del usuario</mat-label>
        <input matInput required>
      </mat-form-field>

      <table class="full-width"><tr>
        <td><mat-form-field class="full-width" appearance="fill">
          <mat-label>Número de contacto</mat-label>
          <input matInput required>
        </mat-form-field></td>
        <td><mat-form-field class="full-width" appearance="fill">
          <mat-label>Pais</mat-label>
          <input matInput required>
        </mat-form-field></td>
      </tr></table>

      <mat-checkbox>
        Declaro tener +18 años de edad
      </mat-checkbox>
      <mat-checkbox>
        Acepto los
        <a href="https://www.google.com">términos y condiciones</a>
        de Go2Climb
      </mat-checkbox>
    </form>

  </div>

</mat-dialog-content>

<mat-dialog-actions align="center">
  <button mat-raised-button color="primary" mat-dialog-close="">Finalizar</button>
</mat-dialog-actions>
